<h1>Locations, Locations, Locations!!!</h1>

<nav>
  <a href="/">Back</a> |
  <a href="/create_location">Create Location</a> |
  <a href="/products">Products Index</a> |
  <a href="/categories">Categories Index</a> |
</nav>
<br>
<%= @search_results %>
<table>
  <th> ID </th>
  <th> Name </th>
  <%@locations.each do |location|%>
  <tr>
    <td><%= location.id %></td>
    <td><%= location.name %></td>
    <td><button onclick="details('<%= location.display_attributes %>')">More Details</button></td>
    <td><a href="/edit_location?id=<%= location.id %>">Edit</a></td>
    <td><a href="/delete_location?id=<%= location.id %>">Delete</a></td>
  </tr>
  <%end%>
  </table>
  
<script>
  function details (table){
    var  myWindow = window.open("", "", "width=400, height=500");
    myWindow.document.write(table);
 }
</script>