<h1>Categories, Categories, Categories!!!</h1>

<nav>
  <a href="/">Back</a> |
  <a href="/create_category">Create Category</a> |
  <a href="/edit_category">Edit Category</a> |
  <a href="/delete_category">Delete Category</a> |
</nav>

<table>
  <th> ID </th>
  <th> Name </th>
  <%@categories.each do |category|%>
  <tr>
    <td><%= category.id %></td>
    <td><%= category.name %></td>
    <% table = category.display_attributes  %>
    <td><button onclick="details('<%= table %>')">More Details</button></td>
    <td><a href="/edit_category?id=<%= category.id %>">Edit</a></td>
    <td><a href="/delete_category?id=<%= category.id %>">Delete</a></td>
  </tr>
  <%end%>
</table>
  
<script>
  function details (table){
    var  myWindow = window.open("", "", "width=600, height=400");
    myWindow.document.write(table);
 }
</script>