<h1>Products, Products, Products!!!</h1>

<nav>
  <a href="/">Back</a> |
  <a href="/create_product">Create Product</a> |
  <a href="/locations">Locations Index</a> |
  <a href="/categories">Categories Index</a> |
</nav>

<table>
  <th> ID </th>
  <th> Name </th>
  <%@products.each do |product|%>
  <tr>
    <td><%= product.id %></td>
    <td><%= product.name %></td>
    <% table = product.display_attributes  %>
    <td><button onclick="details('<%= table %>')">More Details</button></td>
    <td><a href="/edit_product?id=<%= product.id %>">Edit</a></td>
    <td><a href="/delete_product?id=<%= product.id %>">Delete</a></td>
  </tr>
  <%end%>
</table>
  
<script>
  function details (table){
    var  myWindow = window.open("", "", "width=400, height=500");
    myWindow.document.write(table);
 }
</script>